@media (min-width: 576px) {
  .container-fluid {
    width: 92vw;
  }
}

@media (max-width: 576px) {
  #img-logo {
    height: 38px;
  }
}

.navbar {
  background-color: #3d4c76;
  height: 10vh;
}

.navbar-brand img {
  height: 40px;
}

.navbar-toggler {
  background-color: white;
  fill: #4a537c;
  border: none;
}

.nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.637);
  transition: 0.3s ease-in-out;
}

.navbar-nav li a:hover {
  color: #80bf7e;
}

/* @media (min-width: 576px) {
    .header-nav {
        width: 92vw;
    }
}

.navbar-brand img {
    height: 65px;
}


.navbar-collapse {
    margin-top: 5px;
    background-color: #3d4c76;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    color: white;
} */

body,
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
.contenedor {
  width: 400px;
  height: 300px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}
.contenedor header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}
.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.contenido {
  width: 100%;
  padding: 10px;
}
.contenido h3 {
  margin-bottom: 10px;
}
#btn-modal {
  display: none;
}
.lbl-modal {
  background: #7287c1;
  margin-top: 10px;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
}
.d-block {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
body {
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

h1 {
  font-size: large;
}

img {
  max-width: 100%;
}
/* #4a537c */
.horiz1 {
  margin-left: 70vw;
}
