:root {
  --color1: #2b2d42;
  --color2: #8d99ae;
  --color3: #f8f32b;
  --color4: #ffffff;
  --color5: #000000;
}

@media (min-width: 576px) {
  .container-fluid {
    width: 100vw;
  }
}

@media (max-width: 576px) {
  #img-logo {
    height: 38px;
    margin: 10px;
  }
}

.navbar {
  background-color: var(--color1);
  height: 10vh;
  width: 100vw;
}

.navbar-brand img {
  height: 40px;
  margin-left: 10px;
  transition: 0.5s;
}
.navbar-brand img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.navbar-toggler {
  background-color: white;
  fill: #4a537c;
  border: none;
}

.nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.637);
  transition: 0.3s ease-in-out;
}

.navbar-nav li a:hover {
  color: #80bf7e;
}

/* @media (min-width: 576px) {
    .header-nav {
        width: 92vw;
    }
}

.navbar-brand img {
    height: 65px;
}


.navbar-collapse {
    margin-top: 5px;
    background-color: #3d4c76;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    color: white;
} */

body,
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal3 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
.modal2 {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
.modal3 {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}
#btn-modal2:checked ~ .modal2 {
  opacity: 1;
  visibility: visible;
}
#btn-modal3:checked ~ .modal3 {
  opacity: 1;
  visibility: visible;
}
.contenedor {
  width: 400px;
  height: 300px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
.contenedor2 {
  width: 400px;
  height: 300px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
.contenedor3 {
  width: 400px;
  height: 300px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}
#btn-modal2:checked ~ .modal2 .contenedor2 {
  transform: translateY(0%);
}
#btn-modal3:checked ~ .modal3 .contenedor3 {
  transform: translateY(0%);
}
.contenedor header {
  padding: 10px;
  background: var(--color5);
  color: #fff;
}
.contenedor2 header {
  padding: 10px;
  background: var(--color5);
  color: #fff;
}
.contenedor3 header {
  padding: 10px;
  background: var(--color5);
  color: #fff;
}
.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.contenedor2 label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.contenedor3 label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.contenido {
  width: 100%;
  padding: 10px;
}
.contenido2 {
  width: 100%;
  padding: 10px;
}
.contenido3 {
  width: 100%;
  padding: 10px;
}

.contenido h3 {
  margin-bottom: 10px;
}
.contenido2 h3 {
  margin-bottom: 10px;
}
.contenido3 h3 {
  margin-bottom: 10px;
}
#btn-modal {
  display: none;
}

#btn-modal2 {
  display: none;
}
#btn-modal3 {
  display: none;
}
.lbl-modal {
  background: var(--color4);
  margin: 10px;
  margin-bottom: 10px;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  border: black;
  border-width: 10px;
}
.lbl-modal:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.lbl-modal2 {
  background: var(--color4);
  margin: 10px;
  margin-bottom: 10px;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.lbl-modal2:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.lbl-modal3 {
  background: var(--color4);
  margin: 10px;
  margin-bottom: 10px;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.lbl-modal3:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.d-block {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.d-block2 {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.d-block3 {
  height: 90vh;
  background-size: cover;
  background-position: center center;
    width: 100%;
}
body {
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
}

h1 {
  font-size: large;
  padding-top: 5px;
}

.d-block {
  width: 100vw;
  transition: 1s;
}
.d-block:hover {
  transform: scale(1.1);
}

/* #4a537c */
.horiz1 {
  margin-left: 70vw;
}

.hero {
  width: 100vw;
  margin-left: -10px;
}
.coso {
  background-color: var(--color2);
  width: 100vw;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
